.drawer-header {
  text-align: center;
  color: white;
  font-size: 2rem;
  position: relative;
  padding: 1rem 0 2rem 0;
  width: 70%;
  margin: 0 auto 1rem auto;
}

.drawer-items-wrap {
  font-size: 6rem !important;
  height: 100%;
  align-items: center;
  justify-content: center;
}
