#message-window-mobile {
  height: 85vh;
  overflow-y: scroll;
  padding-bottom: 5px;
}
.backspace-icon-wrap {
  padding: 0 1rem 1rem 1rem;
}
.backspace-icon:hover{
    color: white;
    cursor: pointer;
}
#message-window-mobile::-webkit-scrollbar {
  width: 0px;
}
#message-window-mobile::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar thumb */
}
@media screen and (max-width: 768) {
}

.message-input-wrap-mobile {
  position: fixed;
  bottom: 0;
  right: 0;
  padding-right: 1%;
  padding-left: 1%;
  padding-bottom: 1%;
  width: 100%;
}

.float-end-mobile {
  float: right;
  margin-right: 1rem;
}
